@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif, sans-serif;
  width: 100%;
  color: #1d1d1d;
}

.wrapper {
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  -webkit-box-shadow: 0 0 10px 1px #1d1d1d;
          box-shadow: 0 0 10px 1px #1d1d1d;
  border-radius: 0.2rem;
  max-width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.card-img {
  width: 14rem;
  height: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  margin: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.card-description {
  line-height: 1.2rem;
}

.card-price {
  font-size: 1.4rem;
  margin-top: 0.6rem;
}

.card-price::before {
  content: "$";
  font-size: 1rem;
  position: relative;
  top: -0.3rem;
  padding-right: 0.1rem;
}

.card-offer {
  border: none;
  border-top: 1px solid #1d1d1d;
  background-color: transparent;
  font-family: inherit;
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.card-offer:hover {
  color: #a23ef6;
}

.card-msg {
  border: none;
  border-top: 1px solid #1d1d1d;
  background-color: transparent;
  font-family: inherit;
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.card-msg:hover {
  color: #a23ef6;
}

@media screen and (min-width: 600px) {
  .wrapper {
    -ms-grid-columns: (minmax(14rem, 16rem))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    min-width: 14rem;
  }
  .card-img {
    width: 100%;
    height: 12rem;
  }
}

.container {
  text-align: center;
}

.header {
  height: 100px;
  background-color: #f4f4ff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0, 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header a {
  text-decoration: none;
  color: #1d1d1d;
  margin: 10px;
}

.image-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 300px;
  margin: 0 auto;
  background: #f4f4ff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-form {
  width: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=App.css.map */