@import "./variables.scss";

.App {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}

.header {
    height: $headerHeight;
    background-color: $bg;
    align-items: center;
    justify-content: space-between;
    padding: 0, 1.5rem;
    display: flex;

    a {
        text-decoration: none;
        color: $dark;
        margin: 10px;
    }


    &-profile {
        display: inline-block;

        a {
            display: flex;
            flex-direction: column;
        }
    }

    &-tool {
        display: inline;
    }
}

.image {

    &-card {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 300px;
        margin: 0 auto;
        background: $bg;
        justify-content: space-between;
    }


}

.profile {
    &-form {
        width: 700px;
        align-items: center;
    }
}

body {
    font-family: $Poppins;
    width: 100%;
    color: $dark;
}

#root {
    height: 100%;
}
