@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./variables.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}
body {
    font-family: $Poppins, sans-serif;
    width: 100%;
    color: $dark;
}

.noscroll {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.noscroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.wrapper {
    margin: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
}

.nav-duck {
    height: 100vh;
    padding-top: 56px;
}
